<!DOCTYPE html>
<html>
<head>
  <title>AulosMusica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <div id="entete">
    <a href="/">Root</a>
    <a href="/products">Produits</a>
    <a href="/lists">Listes</a>
  </div>
  <div id="corps">
    <p id='notice'>

    </p>
    <%= yield %>
  </div>
  <div id="pied">

  </div>
</div>

</body>
</html>
